.project-list-wrapper{
    grid-area: main;
    padding: 10px;
    height: calc(100vh - 64px);
    overflow-y: scroll;
}

.project-list-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
