.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    grid-area: main;
}

.login-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 30px;
    box-shadow: 0px 0px 8px 0px #b9b9b9;
}

.form-group-option{
    margin: 10px;
    display: flex;
    gap: 10px;
}

.authentication{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.authentication button{
    background-color: var(--login);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.authentication a{
    color: var(--login);
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}


.login-wrapper label{
    margin: 0;
}

.login-form-group p{
    margin: 10px;
}