.background-color-tertiary{
  background-color: var(--tertiary);
}

.wrapper{
  display: grid;
  grid-template-areas:
      'sidebar navbar'
      'sidebar main';
  grid-template-columns: max-content auto;
  grid-template-rows: max-content auto;
} 

#sidebar{
  grid-area: sidebar;
}
#navbar{
  grid-area: navbar;
}
#main{
  grid-area: main;
  padding: 10px;
  height: calc(100vh - 64px);
  overflow-y: scroll
}

.flex-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  gap: 10px;
  background-color: #32BDEA;
  padding: 12px;
  border-color: #32BDEA;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-primary-style{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
    gap: 10px;
    padding: 12px;
    border: none;
    border-radius: 10px;
}

h4{
  font-family: "Lato",sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1;
  color: #110A57;
  font-size: 1.44em;
  margin-top: 0;
}

.content-page{
  padding:20px;
}

h3{
  margin: 0;
}

th,td{
  padding: 15px 20px;
}

img{
  width: 50px;
  border-radius: 10px;
}
