:root{
  --primary: #0c2368;
  /* --secondary: #b0c4ff; */
  --secondary: #f7f9ff;
  --tertiary: #bf4932;
  --text: #444;
  --footer: #2b2c30;
  --login: #32BDEA;
}
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-group-col {
  display: flex;
  flex-direction: column;
}
.form-control {
  height: 40px;
  line-height: 40px;
  background: #fff;
  border: 1px solid #DCDFE8;
  font-size: 14px;
  color: #676E8A;
  border-radius: 10px;
  box-shadow: none;
  padding: 10px;
  margin: 10px;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-direction-row{
  flex-direction: row;
}

.flex-gap-10{
  gap: 10px;
}

.btn-clear{
   background-color: transparent;
   border-color: transparent;
   cursor: pointer;
}

.justify-content-space-between{
  justify-content: space-between;
}

p{
  line-height: 1.5rem;
}

.cardboxshadows{
  box-shadow: 0 0 5px rgb(0 0 0 / 20%), 0 4px 8px 0 transparent;
  background-color: var(--primary-white);
  padding: 10px;
}

.aling-item-unset{
  align-items: unset;
}

label{
   margin: 10px 10px 0;
}